*,*:before, *:after{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
.contenedor{
    border: 20px solid white;
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-size: 20px;
    /*justify-content: center; /* Main axis */
    align-items: center; /* Cross Axis */
}
div[class*="item-"] {
    background: coral;
    padding: 10px;
    text-align: center;
    border: 2px solid darkcyan;
    flex: 1;
}

div[class*="item-"]:nth-child(odd) {
    background: lemonchiffon;
    color: black;
}

div[class*="item-"]:nth-child(6) {
    background: aquamarine;
    color: black;
    flex: 3; /* Se lleva el triple del espacio sobrante repartido equitativamente*/
}